@import '@/styles/_mixins.scss';

.fade {
    &-enter-active,
    &-leave-active {
        transition: opacity $time-s * 1.5 $animation-curve;
    }

    &-enter,
    &-leave-to {
        opacity: 0;
    }

    &-leave,
    &-enter-to {
        opacity: 1;
    }
}
